<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.arduino.base</string>
	<key>Options</key>
		<array>
			<dict>
				<key>Description</key>
				<string>Your project&apos;s name.</string>
				<key>EmptyReplacement</key>
				<string>ProductName</string>
				<key>Identifier</key>
				<string>productName</string>
				<key>Name</key>
				<string>Project Name</string>
				<key>NotPersisted</key>
				<true/>
				<key>Required</key>
				<true/>
				<key>Type</key>
				<string>text</string>
			</dict>
		</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This creates a project for Arduino development.</string>
	<key>ProjectOnly</key>
	<true/>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Compile</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>echo &apos;===== BUILDING FILE FOR TARGET UPLOAD =====&apos;
cd $PROJECT_DIR/$PROJECT_NAME
make compile
exit 0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Upload Duemilanove</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>echo &apos;===== BUILDING FILE FOR TARGET UPLOAD =====&apos;
cd $PROJECT_DIR/$PROJECT_NAME
make BOARD=&quot;atmega328&quot; upload
exit 0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Upload Uno</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>echo &apos;===== BUILDING FILE FOR TARGET UPLOAD =====&apos;
cd $PROJECT_DIR/$PROJECT_NAME
make BOARD=&quot;uno&quot; upload
exit 0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Upload Nano</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>echo &apos;===== BUILDING FILE FOR TARGET UPLOAD =====&apos;
cd $PROJECT_DIR/$PROJECT_NAME
make BOARD=&quot;nano328&quot; upload
exit 0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>TargetType</key>
			<string>Aggregate</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>echo &apos;===== BUILDING FILE FOR TARGET UPLOAD =====&apos;
cd $PROJECT_DIR/$PROJECT_NAME
make clean
exit 0</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.cpp</key>
		<dict>
			<key>Path</key>
			<string>main.cpp</string>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
		</dict>
		<key>Documentation/aDocument</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Documentation</string>
			</array>
			<key>Path</key>
			<string>Documentation/aDocument</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>main.cpp</string>
		<string>Makefile</string>
		<string>Documentation/aDocument</string>
	</array>
</dict>
</plist>
